.main-section{
    width: 750px;
}

.header-section{
    height: 236px;
    background-color: rgba(45, 112, 83, 1);
}
.ellipse-one{
    margin: 46px 36px;
}
.flex-container-first{
    display: flex;
    flex-direction: row;
    position: absolute;
}
.flex-container-second{
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 84px;
    margin-left: 622px;
    margin-right: 44px;
    display: inline-flex;
}
.header-text-block{
    margin-left: 20px;
    margin-top: 52px;
}
.header-text-info{
    color: #FFFFFF;
    font-size: 30px;
    font-family: adobeinvisfont;
}
.rectangle-two{
    background-position: top right;
    margin-top: 14px;
    margin-bottom: 14px;
}
.first-block{
    height: 468px;
    position: relative;
    
}
.background-img{
    width: 100%;
    height: 100%;
    position: relative;
}
.specialist-content-info{
    width: 590px;
    height: 276px;
    margin-left: 45px;
    margin-top: 80px;
    display: flex;
    flex-direction: reverse;
}
.specialist-name-section{
    margin-top: 61px;
    margin-left: 65px;
}
.specialist-photo{
    width: 255px;
    height: 255px;
    border-radius: 50%;
}
.specialist-name-font{
    font-family: adobeinvisfont;
    font-size: 36px;
    margin-bottom: 10px;
}
.specialist-info-font{
    font-family: adobeinvisfont;
    font-size: 24px;
    margin: 0;
    font: bold;
}
.specialist-content-about{
    width: 590px;
    margin-left: 45px;
    font-family: adobeinvisfont;
    font-size: 24px;
    font: bold;
}
.reasons-list{
    width: 590px;
    margin-left: 45px;
}
.reasons-list-title{
    font-size: 36px;
    font-family: adobeinvisfont;
}
.reasons-list-element{
    font-size: 24px;
    font-family: adobeinvisfont;
}
.registration-button-first{
    margin-top: 76px;
    margin-left: 30px;
    background-color: rgba(203, 146, 35, 1);
    transform: translate(50%, 50%);
    position: absolute;
    top: 50%;
    left: 0%;
    width: 342px;
    height: 74px;
    color: white;
    font-size: 24px;
    font-family: adobeinvisfont;
}
.registration-button-second{
    margin-top: 44px;
    margin-left: 30px;
    transform: translate(50%, 50%);
    background-color: rgba(203, 146, 35, 1);
    width: 342px;
    height: 74px;
    color: white;
    font-size: 24px;
    font-family: adobeinvisfont;
}
.second-block{
    height: 1038px;
    background-color: #FFFFFF;
}
.footer-section{
    height: 154px;
    background-color: rgba(136, 136, 136, 1);
}
.ellipse-two{
    margin: 28px 44px;
}
.footer-contacts-telephone{
    width: 215px;
    display: inline-flex;
    position: absolute;
    margin-bottom: 82px;
    margin-left: 570px;
    margin-right: 44px;
    color: #FFFFFF;
    font-size: 18px;
    font-family: adobeinvisfont;
}
.footer-contacts-adress{
    display: inline-flex;
    position: absolute;
    margin-bottom: 38px;
    margin-left: 324px;
    margin-right: 44px;
    color: #FFFFFF;
    font-size: 18px;
    font-family: adobeinvisfont;
}
.footer-contacts-email{
    display: inline-flex;
    position: absolute;
    margin-bottom: 38px;
    margin-left: 562px;
    margin-right: 44px;
    color: #FFFFFF;
    font-size: 18px;
    font-family: adobeinvisfont;
}
.flex-container-third{
    display: flex;
    flex-direction: column-reverse;
}
.flex-container-third > span > a {
    text-decoration: none;
    color: #FFFFFF;
}